.footer
	.footer-ploma.row
		.col-xs-3
			h4 ACCESSORIES
			P  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint pariatur, fugit. Officia aliquam mollitia impedit nisi explicabo adipisci ipsum in perferendis possimus ducimus doloremque vero, dignissimos placeat suscipit, ut debitis.
			i.icon-facebook
		.col-xs-2
			h4 NY ACCOUNT
			ul
				each item in ['My Account', 'Ordee History', 'Wish List','Newletter']
					li
						a(href='#')=item
		.col-xs-2
			h4 INFORMATION
			ul
				each item in ['About Us', 'Delivery Information', 'Privacy Policy','Term & Conditions']
					li
						a(href='#')=item
		.col-xs-2
			h4 EXTRAS
			ul
				each item in ['Brands', 'Gift Vouchers', 'Affiliates','Specials']
					li
						a(href='#')=item
		.col-xs-3
			h4 ABOUT US
			ul
				each item in ['890 Marmora Road, Glasgow DO4 89', 'GR, New York', '(0123)456789','(0987)654321', 'admin@bootexperts.com','Newletter']
					li
						a(href='#')=item
	.footer-negro.row
		.col-xs-6
			p Copyrigh(c)2015 
				span.rojo BootExperts
		.col-xs-6
			img(src='images/payment.png')