doctype html
html(lang="es")
	head
		title ::FASHION-ACCESORIES::
		meta(charset="utf-8")
		meta(name="viewport",content="whidth=device-width, initial-scale=1")
		link(href="css/bootstrap.min.css",rel="stylesheet")
		link(href="css/font-awesome.min.css",rel="stylesheet")
		link(href="css/main.css",rel="stylesheet")
	body
		.container-fluid
			include header.jade
			include contactos.jade
			include footer.jade

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>