.seccion-header{
	width: 100%;
  padding: 90px;
  background-image: url(../images/contact.jpg);
  background-repeat: no-repeat;
	background-attachment: scroll;
 	background-size: cover;
 	-webkit-background-size: cover;
	-moz-background-size: cover;
 	-o-background-size: cover;
 	height: 114vh;
}